
05-Dataset5_org-ap-ep/xls2rdf.log

Dataset1_CV-Shapes.html

Dataset2_MEP-Shapes.html

Dataset3_Sessions-Shapes.html

Dataset4_SHACL-Shapes.html

05-Dataset5_org-ap-ep/20-REPORT/

05-Dataset5_org-ap-ep/20-SHACL_TTL/

05-Dataset5_org-ap-ep/21-DOCUMENTATION/

*.log

02-Dataset2_MEP/10-Rules/business-rule-2/report-raw.html

02-Dataset2_MEP/10-Rules/business-rule-2/report.ttl

02-Dataset2_MEP/10-Rules/business-rule-3/report-raw.html

02-Dataset2_MEP/10-Rules/business-rule-3/report.html

02-Dataset2_MEP/10-Rules/business-rule-3/report.ttl

02-Dataset2_MEP/10-Rules/business-rule-4/report-raw.html

02-Dataset2_MEP/10-Rules/business-rule-4/report.html

02-Dataset2_MEP/10-Rules/business-rule-4/report.ttl

03-Dataset3_Sessions/10-Rules/business-rule-1/report-raw.html

03-Dataset3_Sessions/10-Rules/business-rule-1/report.html

03-Dataset3_Sessions/10-Rules/business-rule-1/report.ttl

04-Dataset4_Votes/10-Rules/business-rule-1/report-raw.html

04-Dataset4_Votes/10-Rules/business-rule-1/report.html

04-Dataset4_Votes/10-Rules/business-rule-1/report.ttl

04-Dataset4_Votes/10-Rules/business-rule-2/report-raw.html

04-Dataset4_Votes/10-Rules/business-rule-2/report.ttl

04-Dataset4_Votes/10-Rules/business-rule-3/report-raw.html

04-Dataset4_Votes/10-Rules/business-rule-3/report.html

04-Dataset4_Votes/10-Rules/business-rule-3/report.ttl

04-Dataset4_Votes/10-Rules/business-rule-4/report-raw.html

04-Dataset4_Votes/10-Rules/business-rule-4/report.html

04-Dataset4_Votes/10-Rules/business-rule-4/report.ttl

04-Dataset4_Votes/10-Rules/business-rule-5/report-raw.html

04-Dataset4_Votes/10-Rules/business-rule-5/report.html

04-Dataset4_Votes/10-Rules/business-rule-5/report.ttl
